.recipe-container {
	height: 150px;
	width: 300px;
	display: flex;
	flex-direction: flex-start;
}

.recipe-container > img {
	height: 150px;
	width: 150px;
	border-radius: 10px 0 0 10px;
}

.name-container {
	position: relative;
	left: 150px;
	height: 150px;
	width: 150px;
	padding: 0px 15px;
	background-color: rgb(0, 0, 0);
	color: white;
	font-size: 12px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 10px 10px 0;
}
