.recipe-details-container {
	display: grid;
	grid-template-columns: 0.25fr 0.4fr 0.45fr;
	grid-template-rows: 0.2fr 0.8fr;
	height: 100%;
}
.name-details-container {
	padding-left: 40px;
}
.description-container {
	grid-row: 1;
	grid-column: 2;
	font-size: 14px;
}

.ingredients-container {
	position: relative;
	left: 20px;
	background-color: black;
	color: white;
	padding: 0 20px 0 20px;
	width: 80%;
	height: 100%;
}
.ingredients-container > ul {
	list-style-type: none;
	list-style-position: inside;
	line-height: 1.5;
	padding: 0;
	font-size: 14px;
}

ul > span {
	font-weight: 700;
}

.image-container {
	grid-column: 3;
	grid-row: 1 / span 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image-container > img {
	height: 400px;
	width: 400px;
	object-fit: cover;
}
