.logo-bar {
	text-align: center;
	padding: .625rem 0;
	background-image: url(../../images/marble.jpg);
}

#blurb {
	position: relative;
	bottom: .4rem;
	letter-spacing: .2rem;
	font-size: 1rem;
}
#logo {
	font-size: 3.5rem;
	letter-spacing: 1rem;
	font-weight: 700;
	position: relative;
	top: .2rem;
}

.second-bar {
	background-color: black;
	display: flex;
	flex-direction: flex-start;
	gap: 3.33rem;
	padding: .8rem 0 .8rem 2.25rem;
}

a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

/* Media Queries */

@media screen and (max-width: 768px) {
	#logo {
		font-size: 3rem;
		letter-spacing: .8rem;
	}
	#blurb {
		letter-spacing: .15rem;
	}
	.logo-bar {
		padding: .85rem 0;
	}
}

@media screen and (max-width: 600px) {
	#logo {
		font-size: 2.5rem;
		letter-spacing: .6rem;
	}

	#blurb {
		letter-spacing: .15rem;
		bottom: .3rem;
		font-size: .8rem;
	}

	.logo-bar {
		padding: 1.1rem 0;
	}
	.second-bar {
		gap: 3rem;
	}
	.second-bar > div > a {
		font-size: .9rem;
	}
}

@media screen and (max-width: 480px) {
	#logo {
		font-size: 2rem;
		letter-spacing: .5rem;
	}

	#blurb {
		letter-spacing: .1rem;
		bottom: .2rem;
		font-size: .7rem;
	}

	.logo-bar {
		padding: 1.35rem 0;
	}

	.second-bar {
		gap: 2rem;
		padding: .7rem 0 .8rem 2.25rem;
	}
	.second-bar > div > a {
		font-size: .8rem;
	}
}
