.myrecipes-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.link-container {
	width: 70%;
}

.graph-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	background-color: white;
}
