.myrecipes-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.link-container {
	width: 70%;
}

.graph-compare-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	background-color: white;
	gap: 15px;
	border-left: 5px solid black;
}
.graph-compare-container > h2 {
	font-size: 36px;
	padding: 0 15px 0 0;
}

#clear-recipes {
	width: 200px;
}
