* {
	box-sizing: border-box;
}

#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 125px 1fr;
	min-height: 100vh;
}

.main-container {
	background-image: url(./images/marble.jpg);
}

.header-container {
	height: 125px;
}
